@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@foreach (var currentStop in TailorMadeTours.Models.TourSource.TourStops)
{
<div class="container">
	<div class="row justify-content-center">
		<div class="col-8 col-sm-12 col-lg-10">
			<div class="h2">
				<p>@currentStop.Name</p>
			</div>
		</div>
		
		<div class="col-8 col-sm-12 col-lg-10">
			<div class="h5 text-muted">
				<p>@currentStop.Description</p>
			</div>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-8 col-sm-12 col-lg-10">
			<a class="btn btn-primary" asp-page="Detail"
				 asp-route-stopnumber='@currentStop.StopNumber'>Learn more</a>
		</div>
	</div>
</div>
}
